@keyframes bulut { 
0%{		transform: translate(2px,2px);}

25%{		transform: translate(4px,4px);}

50%{		transform: translate(6px,-3px);}

100%{	transform: translate(2px,2px);}
}
@keyframes bulut2 { 
0%{		transform: translate(2px,2px);}

25%{		transform: translate(4px,4px);}

50%{		transform: translate(6px,-2px);}

100%{	transform: translate(2px,2px);}
}
@keyframes bulut3 { 
0%{		transform: translate(2px,2px);}

25%{		transform: translate(4px,4px);}

50%{		transform: translate(6px,-3px);}

100%{	transform: translate(2px,2px);}
}
@keyframes cubuk { 
0%{		transform: rotate(10deg);}

50%{	transform: rotate(-10deg);}

100%{	transform: rotate(10deg);}
}
@keyframes cubuk2 { 
0%{   transform: rotate(-10deg);}

50%{  transform: rotate(10deg);}

100%{ transform: rotate(-10deg);}
}
@keyframes cubuk3 { 
0%{   transform: rotate(-5deg);}

50%{  transform: rotate(5deg);}

100%{ transform: rotate(-5deg);}
}
@keyframes spaceship { 
0%{   transform: rotate(-3deg);margin-left: 0px;width: 70px;height: 70px;}

50%{  transform: rotate(3deg);margin-left: 5px;width: 50px;height: 50px;}

100%{ transform: rotate(-3deg);margin-left: 0px;width: 70px;height: 70px;}
}
@keyframes ufo { 
0%{   transform: rotate(-3deg);width: 30px;height: 30px;opacity: 0;transform: translate(0px,0px);}

50%{  transform: rotate(3deg);width: 50px;height: 50px;opacity: 1;transform: translate(75px,75px);}

100%{ transform: rotate(-3deg);width: 30px;height: 30px;opacity: 0;transform: translate(150px,150px);}
}
@-webkit-keyframes ustslider1 {
    0%   {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	2%	 {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	24%	 {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
    25%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
    100% {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
}
@keyframes ustslider1 {
    0%   {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	2%	 {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	24%	 {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
    25%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
    100% {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
}

/* Üst Slider 2 */
@-webkit-keyframes ustslider2 {
    0%   {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
    25%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	27%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	49%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	50%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
    100% {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
}
@keyframes ustslider2 {
    0%   {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
    25%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	27%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	49%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	50%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
    100% {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
}

/* Üst Slider 3 */
@-webkit-keyframes ustslider3 {
    0%   {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	50%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	52%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	74%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	75%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
    100% {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
}
@keyframes ustslider3 {
    0%   {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	50%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	52%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	74%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	75%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
    100% {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
}

/* Üst Slider 4 */
@-webkit-keyframes ustslider4 {
    0%   {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	75%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	77%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	99%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
    100% {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
}
@keyframes ustslider4 {
    0%   {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	75%  {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
	77%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
	99%  {opacity:1; -webkit-opacity:1; -moz-opacity:1;}
    100% {opacity:0; -webkit-opacity:0; -moz-opacity:0;}
}
