@media only screen and (max-width: 960px) {
  #ust {
    display: none; }

  #nav .navwrapper nav .cubuk {
    display: block; }

  #nav .navwrapper nav .cubuk:hover {
    transition: 500ms;
    transform: rotate(360deg); }

  #anim .yazitasiyici {
    background-color: rgba(46, 204, 113, 0.4);
    border-radius: 40px; }

  #egitim .left {
    width: 100%; }

  #egitim .right {
    width: 100%; }

  #galeri .gallery {
    width: 630px; }

  #video .icerik {
    width: 420px; }

  #video .icerik iframe {
    width: 100%; }

  #mail .left {
    width: 100%; }

  #mail .right {
    width: 100%; }

  #kadro .kadroresimtasiyici0 {
    width: 440px; }

  #kadro .kadroresimtasiyici1 {
    width: 440px; }

  #kadro .kadroresimtasiyici2 {
    width: 440px; }

  #motsite .kadroresimtasiyici0 {
    width: 100%; }

  #motsite .kadroresimtasiyici0 iframe {
    width: 100%;
    margin-top: 30px; } }
@media only screen and (max-width: 665px) {
  #destek .icerik {
    width: 210px; }

  #orjinal .materyal {
    width: 250px; }

  #dogalgida .materyal {
    width: 200px;
    height: 600px; }

  #dogalgida .materyal .oyuncak {
    width: 200px; }

  #egitim .left {
    width: 100%; }

  #egitim .right {
    width: 100%; }

  #galeri .gallery {
    width: 210px; }

  #video .icerik {
    width: 100%; }

  #video .icerik iframe {
    width: 100%;
    margin: 10px 0px 0px 0px; }

  #mail .left {
    width: 100%; }

  #mail .right {
    width: 100%; }

  #kadro .kadroresimtasiyici0 {
    width: 220px; }

  #kadro .kadroresimtasiyici1 {
    width: 220px; }

  #kadro .kadroresimtasiyici2 {
    width: 220px; }

  #motsite .kadroresimtasiyici0 {
    width: 100% x; }

  #motsite .kadroresimtasiyici0 iframe {
    width: 100%;
    margin-top: 30px; } }

/*# sourceMappingURL=media.css.map */
