$breakpoint-minimum: 960px;
$breakpoint-minimum1: 665px;
$font-1: 'Dosis', sans-serif;
$font-color-white: white;
$font-color-hover: #f1c40f;
$font-color-alt: #37326a;
$font-color-biz: #ed185b;
$nav-color:#663399; //eski #2ecc71; 
$background-fark:#9a12b3;
$background-orjinal:#f89406;
$background-turuncu:#f27120;
$galeri-bg-color:#dfeaef;
$galeri-font-color:#36b8f8;